---
---

@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";
@import "{{ site.theme }}";

h1 {
  line-height: 1;
}

.inner {
}

header {
  display: flex;
  flex-direction: row;

  img { // logo
      flex-grow: 1;
      max-width: 25%;

      clip-path: circle(46% at center);
  }

  #title {
    flex-grow: 2;
    padding-left: 2em;
  }

  nav {
    position: absolute;
    z-index: 10;
    bottom: -40px;
    right: 0;
    height: 2em;

    ul {
      list-style-type: none;
      display: flex;
      flex-direction: row;

      li {
        padding: 0 1em;
        font-weight: bold;
      }
    }
  }
}

.socials {
    display: flex;
    //justify-content: center;
	width: 100%;
	margin-bottom: 1em;
    margin-left: -1em;

    * {
        margin-left:0.5em;
    }

    a,a:hover {
      text-decoration: none;
      color: #ffffff; // until I can figure out a better way
    }

}
.fa {
	font-size: 2em;
}

.hero {
    //clip-path: inset(33% 0 33%);
    filter: brightness(60%);
    margin: 0;
}
